{# empty Twig template #}
 
    
    <!-- Pied de page
    ================================================== -->
   <footer class="piedDePage ">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <br><h2 class="titreFooter">Shortcuts</h2><br>
                    <div class="shortfooter">
                        <a  href="https://twitter.com/?lang=fr">Twitter</a><br>
                        <a  href="https://www.facebook.com/">Facebook</a><br>
                        <a  href="https://www.google.com/?hl=fr">Google</a><br>
                        <a  href="https://www.instagram.com/">Instagram</a><br>
                        <a  href="https://www.youtube.com/?gl=FR&hl=fr">Youtube</a><br>
                        <a  href="https://www.linkedin.com/feed/">Linkedin</a><br>
                    </div><br>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <br><h2 class="titreFooter">Share</h2><br>
                    <div class="fafooter">
                        <div>
                    <!-- Facebook -->
                           <a target="_blank" title="Facebook" href="https://www.facebook.com/sharer.php?u=http://jevisla.prope-me.com/" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"><i class="rsociaux fa fa-facebook" title="facebook"></i></a>
                    <!-- Twitter -->
                           <a target="_blank" title="Twitter" href="https://twitter.com/share?url=http://jevisla.prope-me.com/" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;"><i class="rsociaux fa fa-twitter" title="twitter"></i></a>
                    <!-- Google + -->
                           <a target="_blank" title="Google +" href="https://plus.google.com/share?url=http://jevisla.prope-me.com/" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;"><i class="rsociaux fa fa-google" title="google"></i></a>
                    <!-- Linkedin -->
                           <a target="_blank" title="Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=http://jevisla.prope-me.com/" rel="nofollow" onclick="javascript:window.open(this.href, '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;"><i class="rsociaux fa fa-linkedin" title="linkedin"></i></a>
                        </div><br>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://jevisla.prope-me.com/&layout=box_count&show_faces=true&width=65&action=like&font=arial&colorscheme=light&height=65" 
                        class="frameFacebookImg"></iframe>
                        <div class="col-sm-12">
                            <img class="signlogo"  src="{{ asset('img/LogoPropeMe.svg') }}" alt="Logo JevisLà"> © {{ 'now'|date('Y') }}
                        </div> 
                    </div>
                </div>
            </div>
        </div>   
    </footer>

    
    
   