{% extends "::base.html.twig" %}
{% block entete %}  
{% endblock entete %}
{% block body %}
        <div class="container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock body %}
